.venv/
venv/
__pycache__/
**/__pycache__/
*.pyc

.env
.env.*
!.env.example
kaggle.json

.ipynb_checkpoints/
.DS_Store
.vscode/
*.zip

data/raw/*
data/bronze/*
data/silver/*
data/gold/*
data/external/*
data/rejected/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
!data/external/.gitkeep
!data/rejected/.gitkeep

submissions/*.csv
!submissions/.gitkeep
!submissions/README.md
